<div>
  <% @students.each do |stud| %>
    <li><%= link_to stud.to_s, "/students/#{stud.id}" %></li>
    <li><%= link_to stud.to_s, students_path(stud.id) %></li>
    <li><%= link_to stud.to_s, students_path(stud) %></li>
  <% end %>
</div>